.venv/
env/
.venv311

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

